body {
  font-family: 'Segoe UI', "SegoeUI", 'Microsoft JhengHei', "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #474747;
  background-color: #F8F8F8;
}

a,
a:hover {
  color: #fff;
  text-decoration: none;
}

header {
  background-image: url(../images/header_1920.png);
  background-size: cover;
  background-color: #3B8BD5 !important;
  height: 85px;
  color: #fff;
  font-size: 14px;
}

* {
  outline: none;
}


/* select */

.validation .select2-container--default .select2-selection--single .select2-selection__arrow b{
  background-image: url(../images/dropdown.svg);
}

.validation .select2-container--default .select2-selection--single .select2-selection__rendered:focus{
  color:#3B8BD5;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.needs-validation .select2-search--dropdown .select2-search__field:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.needs-validation .select2-container--default .select2-search--dropdown .select2-search__field:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.needs-validation .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding: 0;
  color: #C3C3C3;
}
.needs-validation .select2-container--default .select2-selection--single{
  border: none;
  /* border-bottom: 1px solid #BDBDBD; */
  padding: 0;
}

.navbar .navbar-nav .nav-item .store-Entrance,
.navbar .navbar-nav .nav-item .store-Entrance:hover {
  background-color: #fff;
  border-radius: 17.5px;
  color: #429DF2;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../images/ic_burger.svg);
  background-size: contain;
}

.navbar-light .navbar-toggler {
  border: none;
}

form>div,.card-info-block>div {
  padding-bottom: 15px;
}

small {
  font-size: 12px;
  color: #797979;
  line-height: 38px;
}

small.col-md-9 {
  margin-top: -25px;
  padding-left: 0;
}

h5.font-color-1177pay {
  font-weight: bold;
  text-align: center;
  margin: 25px auto 30px;
  font-size: 16px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "上傳";
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
}



.payway-checkbox {
  text-align: center;
  padding-bottom: 0;
}

.payway-checkbox .custom-checkbox .custom-control-label{
  font-size: 16px;
  line-height: 24px;
}

.payway-checkbox .custom-checkbox {
  width: 25%;
}

.card-info-block {
  margin-top: 30px;
}

.custom-control {
  padding-left: 45px;
}

.was-validated .form-control:valid, .form-control.is-valid{
  background-image: none;
  border-color: #BDBDBD;
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: rgb(37, 149, 228);
  box-shadow: 0 0 0 0.2rem rgba(37, 149, 228, 0.25);
}

.was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before{
  border-color: #2595E4;
  background-color: #2595E4;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label{
  color: #2595E4;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none;
}

.was-validated .form-control:invalid::placeholder,
.form-control.is-invalid::placeholder {
  color: #C30000 !important;
  opacity: 1;
  /* Firefox */
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid {
  background-image: none;
  color: #C30000 !important;
  opacity: 1;
  /* Firefox */
}

.custom-control-label::before {
  background-color: #E7E7E7;
  border: 0
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #2595E4;
  background-color: #2595E4;
}

.logo {
  width: 30%;
  max-width: 115px;
}

.navbar .logo-title {
  padding: 24px;
  letter-spacing: 5px;
}

.logo-title {
  padding: 32px;
  letter-spacing: 5px;
}


.font-color-1177pay {
  color: #2595E4;
}

.container {
  max-width: 1024px;
}

.container-rocess {
  padding: 3rem 0;
  text-align: center;
}

.container-rocess img {
  max-width: 740px;
  max-height: 65px;
  padding: 5px;
}

.form-control,
.custom-select {
  padding: 6px;
  border-bottom: 1px solid #BDBDBD;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.custom-select{
  background-image: url(../images/dropdown.svg);
}

.container-form {
  max-width: 784px;
  border-radius: 6px;
  box-shadow: 0 0 30px 0 rgba(180, 180, 180, 0.25);
}

.container-form>div {
  padding: 40px;
}

::placeholder {
  color: #C3C3C3 !important;
  opacity: 1;
  /* Firefox */
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #C3C3C3 !important;
  font-size: 16px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #C3C3C3 !important;
  font-size: 16px;
}

.container-title {
  color: #373E52;
  font-size: 25px;
  letter-spacing: 3.23px;
  line-height: 37px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}

.container-title-name {
  padding: 6px 0;
  margin-bottom: 0;
  font-weight: bold;
}

.form-control:focus {
  color: #C3C3C3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-bottom: 1px solid #BDBDBD;
}

input[type="text"]:focus ,.custom-select:focus{
  box-shadow: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-block-content {
  margin-top: 134px;
}

.btn-back,
.btn-next {
  height: 35px;
  max-width: 276px;
  width: 80%;
  border-radius: 17.5px;
  margin: 0 auto;
}

.btn-back,
.btn-back:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-next,
.btn-next:hover {
  color: #fff;
  background-color: #2595E4;
}

.captcha {
  margin: auto;
  height: 40px;
  border: 1px solid #BDBDBD;
}

footer {
  margin: 50px auto 20px;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 1024px) {
  header {
    background-image: url(../images/header_1024.png);
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  header {

    height: 60px;
    font-size: 12px;
  }

  form>div, .card-info-block>div {
    padding-bottom: 0;
}

  ::placeholder {
    font-size: 12px;
  }

  :-ms-input-placeholder {
    font-size: 12px;
  }

  ::-ms-input-placeholder {
    font-size: 12px;
  }

  .logo-title {
    padding: 21px;
    letter-spacing: 5px;
  }

  .navbar-nav .logo-title {
    padding: 5px 48px;
  }

  .navbar-nav-left{
    margin-top: 1rem;
  }

  .navbar-nav-right{
    margin-bottom: 1rem;
  }

  .navbar .navbar-nav .nav-item .store-Entrance,
  .navbar .navbar-nav .nav-item .store-Entrance:hover {
    background-color: #3B8BD5;
    color: #fff;
  }

  .container {
    padding: 0;
  }

  .container-rocess {
    padding: 1rem;
  }

  .container-rocess img {
    width: 100%;
  }

  .container-form > div {
    padding: 20px;
  }

  .container-title {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .form-control,
  .custom-select {
    font-size: 12px;
  }

  .container-title-name {
    display: block !important;
  }

  small {
    margin: -8px 0 -12px 7rem;
    font-size: 10px;
  }

  small.col-md-9 {
    margin: 4px 0 0px 6rem;
    font-size: 10px;
    line-height: 16px;
    padding-left: 25px;
  }

  h5.font-color-1177pay {
    margin: 20px auto;
    font-size: 12px;
  }

  .navbar-collapse {
    background: #3B8BD5;
    z-index: 9;
  }

  .payway-checkbox {
      text-align: left;
  }

  .payway-checkbox .custom-checkbox {
    width: 50%;
    margin-bottom: 5px;
  }

  .payway-checkbox .custom-checkbox .custom-control-label{
    font-size: 14px;
  }

  .btn-block-content {
    margin-top: 1.5rem;
  }

  .btn-block-content small {
    margin: 0;
    font-size: 10px;
    line-height: 16px;
  }

  .btn-back,
  .btn-next {
    height: 24px;
    width: 50%;
    min-width: 120px;
    font-size: 12px;
    line-height: 12px;
  }

  .captcha {
    margin-top: 1rem;
  }

  footer {
    margin: 10px auto;
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  header {
    background-image: none;
  }
}